.main-nav {
  font-size: 24px;
  min-height: 68px;
  padding: 0 6px;
}

.nav-logo-text {
  text-decoration: none;
  padding-top: 7px;
}

.nav-logo-text h4 {
  font-size: 1em;
  color: black;
  letter-spacing: -0.015em;
}

.nav-login-logout {
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  max-height: 30px;
  width: 100px;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: -0.015em;
  color: black;
  text-transform: uppercase;
}

.nav-login-logout:hover {
  color: black;
}

@media (min-width: 768px) {
  .main-nav {
    padding: 0 38px;
  }
}
